.vscode/**/*
docker/
.circleci/
.github/
reports/
scripts/
tests/
testData/
coverage/
resources/

.dockerignore
docker-compose.override.yml
docker-compose.yml
.editorconfig
codealike.json
.mocharc.json
tsconfig.json
tslint.json
.c8rc
.nvmrc
.tsbuildinfo
.mocharc.js

src/**/*.spec.*
!dist/**
dist/**/*.spec.*