name: Node CI

on: [push]

jobs:
  build:

    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [12.14.1]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install
      run: npm ci
    - name: npm build
      run: npm run build
    - name: npm test
      run: npm run test
    - name: npm publish
      run: |
        packageName=$(node -p "require('./package.json').name")
        packageVersion=$(node -p "require('./package.json').version")
        publishVersion=$(npm view "$packageName" version)
        if [ "$packageVersion" != "$publishVersion" ]
        then
          npm config set //registry.npmjs.org/:_authToken=$NPM_AUTH_TOKEN
          npm publish
        else
          echo "Existing version $packageVersion for $packageName is already published...skipping"
        fi
      env:
        CI: true
        NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}